---
layout: archive
title: "Awards and Honors"
permalink: /portfolio/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Awards Table</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
    }
    th {
      background-color: rgba(242, 242, 242, 0.4);
      text-align: left;
      padding: 12px;
      font-size: 165%;
      font-weight: bold;
      vertical-align: top;
    }
    td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      vertical-align: top;
    }
    .year {
      font-size: 120%;
      font-weight: bold;
    }
    .award {
      font-size: 120%;
      font-weight: bold;
    }
    .description {
      font-size: 105%;
    }
  </style>
</head>
<body>

<table>
  <tr>
    <th>Year</th>
    <th>Award</th>
    <th>Description</th>
  </tr>
  <tr>
    <td class="year">2023</td>
    <td class="award"> 
       <a href="https://mechse.illinois.edu/news/sp24-awards-banquet/grad-awards" target="_blank"> Stanley I. Weiss Outstanding Thesis Award (TAM)</a></td>
    <td class="description">Awarded for outstanding doctoral research in Mechanics and Mechanical Science at UIUC.</td>
  </tr>
  <tr>
    <td class="year">2023</td>
    <td class="award">
      <a href="https://mechse.illinois.edu/news/54194" target="_blank">Michael A. and E. Ann Sutton Graduate Student Award (2nd time)</a></td>
    <td class="description">Awarded to an outstanding graduate student in Theoretical and Applied Mechanics in the Department of Mechanical Science & Engineering.</td>
  </tr>
  <tr>
    <td class="year">2021–2022</td>
    <td class="award">
       <a href="https://mechse.illinois.edu/news/35399" target="_blank">Beckman Institute Graduate Fellowship</a></td>
    <td class="description">This prestigious fellowship is awarded through a campus-wide competition based on the excellence and impact of interdisciplinary research of graduate students.</td>
  </tr>
  <tr>
    <td class="year">2021</td>
    <td class="award">
      <a href="https://cancer.illinois.edu/illinois-students-earn-ccil-scholarships-to-support-cancer-research/" target="_blank">CCIL Graduate Scholarship</a></td>
    <td class="description">The scholarship funds students to pursue cancer research.</td>
  </tr>
  <tr>
    <td class="year">2021</td>
    <td class="award">
       <a href="https://mechse.illinois.edu/news/33958" target="_blank">Michael A. and E. Ann Sutton Graduate Student Award</a></td>
    <td class="description">Awarded to an outstanding graduate student in Theoretical and Applied Mechanics in the Department of Mechanical Science & Engineering.</td>
  </tr>
  <tr>
    <td class="year">2020–2021</td>
    <td class="award">
       <a href="https://mechse.illinois.edu/news/mechse-graduate-students-named-mavis-fellows" target="_blank">MAVIS Future Faculty Fellowship (MF3)</a></td>      
    <td class="description">Awarded by the Grainger College of Engineering to the most promising graduate students for their future transition into academia.</td>
  </tr>
  <tr>
    <td class="year">2018–2020</td>
    <td class="award">
        <a href="https://mechse.illinois.edu/news/bashar-named-t32-scholar-cancer-center-illinois" target="_blank">NIH T32 Scholarship</a></td>        
    <td class="description">Tissue Microenvironment (TiMe) Training Program scholarship from the NIH for promising graduate students in cancer research.</td>
  </tr>
  <tr>
    <td class="year">2019</td>
    <td class="award">Tau Beta Pi Outstanding Graduate Student</td>
    <td class="description">Honored for exceptional academic achievement, research, and service by Tau Beta Pi engineering honor society.</td>
  </tr>
  <tr>
    <td class="year">2017</td>
    <td class="award">MechSE Graduate Student Fellowship, Spring 2017</td>
    <td class="description">Awarded to only 5 outstanding graduate students for the year.</td>
  </tr>
  <tr>
    <td class="year">2012</td>
    <td class="award">Prime Minister’s Gold Medal</td>
    <td class="description">Awarded for graduating top of the class in the Faculty of Civil Engineering.</td>
  </tr>
  <tr>
    <td class="year">2012</td>
    <td class="award">Mitsubishi Corporation International Scholarship</td>
    <td class="description">For outstanding academic performance in the Department of Civil Engineering.</td>
  </tr>
  <tr>
    <td class="year">2009</td>
    <td class="award">Dean’s Scholarship</td>
    <td class="description">Received every year for achieving very high GPA in during undergraduate studies.</td>
  </tr>
  <tr>
    <td class="year">2008–2009</td>
    <td class="award">University Merit Scholarship</td>
    <td class="description">Awarded 7 times for excellent academic records throughout the undergraduate study.</td>
  </tr>
</table>

</body>
</html>


{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<ul>
  <li>
    <a href="https://cancer.illinois.edu/illinois-students-earn-ccil-scholarships-to-support-cancer-research/" target="_blank">
      Illinois Students Earn CCIL Scholarships to Support Cancer Research
    </a><br>
    <em>Recognized by the Cancer Center at Illinois for cancer-focused research excellence.</em>
  </li>

  <li>
    <a href="https://mechse.illinois.edu/news/33958" target="_blank">
      Bashar Wins Michael A. and E. Ann Sutton Graduate Student Award
    </a><br>
    <em>Awarded for outstanding doctoral research in Theoretical and Applied Mechanics.</em>
  </li>

  <li>
    <a href="https://mechse.illinois.edu/news/35399" target="_blank">
      Emon Awarded Prestigious Beckman Fellowship
    </a><br>
    <em>Granted two-year's funding for interdisciplinary research on cancer.</em>
  </li>

  <li>
    <a href="https://beckman.illinois.edu/about/news/article/2021/04/28/seven-students-win-2021-beckman-institute-graduate-fellowships" target="_blank">
      Seven Students Win 2021 Beckman Institute Graduate Fellowships
    </a><br>
    <em>Selected as a Beckman Graduate Fellow to support interdisciplinary research.</em>
  </li>

  <li>
    <a href="https://mechse.illinois.edu/news/mechse-graduate-students-named-mavis-fellows" target="_blank">
      Emon named a Mavis Fellow
    </a><br>
    <em>Selected to receive training and mentorship for pursuing a faculty career.</em>
  </li>
  
  <li>
    <a href="https://mechse.illinois.edu/news/33958" target="_blank">
      MechSE's 2021 student award winners
    </a><br>
    <em>Received Michael and Ann Sutton Award as an outstanding graduate student in Theoretical and Applied Mechanics</em>
  </li>
  
  <li>
    <a href="https://grad.illinois.edu/news/making-homemade-covid-mask-study-explains-best-fabric-choices" target="_blank">
      Making a Homemade COVID Mask: Study Explains Best Fabric Choices
    </a><br>
    <em>Featured by the Graduate College for research on protective fabric performance.</em>
  </li>

  <li>
    <a href="https://mechanical.illinois.edu/news/bashar-named-t32-scholar-cancer-center-illinois" target="_blank">
      Bashar Named T32 Scholar by the Cancer Center at Illinois
    </a><br>
    <em>Awarded the NIH T32 TiMe training fellowship for cancer microenvironment research.</em>
  </li>

  <li>
    <a href="https://mechanical.illinois.edu/news/saif-team-identifies-t-shirts-potential-mask-material" target="_blank">
      Saif Lab Identifies T-Shirts as Potential Mask Material
    </a><br>
    <em>Collaborated on experimental validation of common fabrics for public health.</em>
  </li>

  <li>
    <a href="https://www.spring.org.uk/2020/05/material-covid-19-mask.php" target="_blank">
      Material for COVID-19 Mask: This Common Item is Surprisingly Effective
    </a><br>
    <em>Science communication feature highlighting findings from collaborative research.</em>
  </li>

  <li>
     <a href="https://scitechdaily.com/scientists-test-best-fabric-choices-for-making-a-homemade-covid-mask/" target="_blank">
       Scientists Test Best Fabric Choices for Making a Homemade COVID Mask
     </a><br>
     <em>Contributed to a study that evaluated fabric effectiveness for DIY masks.</em>
  </li>
</ul>
