---
layout: archive
title: "Awards"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>Year</th>
      <th>Award</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2023</td>
      <td>Best Thesis Award, MechSE, UIUC</td>
      <td></td>
    </tr>
    <tr>
      <td>2021–2022</td>
      <td>Beckman Institute Graduate Fellowship</td>
      <td>This prestigious fellowship is awarded through a campus-wide competition based on the excellence and impact of interdisciplinary research of graduate students.</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>CCIL Graduate Scholarship</td>
      <td>The scholarship funds students to pursue cancer research.</td>
    </tr>
    <tr>
      <td>2021, 2023</td>
      <td>Michael A. and E. Ann Sutton Graduate Student Award (x2)</td>
      <td>Awarded to an outstanding graduate student in Theoretical and Applied Mechanics in MechSE.</td>
    </tr>
    <tr>
      <td>2020–2021</td>
      <td>MAVIS Future Faculty Fellowship (MF3)</td>
      <td>Awarded by Grainger College of Engineering to promising graduate students for future faculty roles.</td>
    </tr>
    <tr>
      <td>2018–2020</td>
      <td>NIH T32 Scholarship</td>
      <td>Awarded through the TiMe Program at the Cancer Center at Illinois, supported by NIH T32 funding.</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>Tau Beta Pi Outstanding Graduate Student</td>
      <td></td>
    </tr>
    <tr>
      <td>2017</td>
      <td>MechSE Graduate Student Fellowship, Spring</td>
      <td>Awarded to only 5 outstanding graduate students for the year.</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Prime Minister’s Gold Medal</td>
      <td>Awarded for securing the highest CGPA in the Faculty of Civil Engineering.</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Mitsubishi Corporation International Scholarship</td>
      <td>Awarded for outstanding performance in Civil Engineering.</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Dean’s Scholarship</td>
      <td>Awarded three times (2006–2009) for CGPA above 3.75.</td>
    </tr>
    <tr>
      <td>2008–2009</td>
      <td>University Merit Scholarship</td>
      <td>Awarded seven times for excellent results in each term of undergraduate study (2006–2009).</td>
    </tr>
  </tbody>
</table>
