---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}

  <div class="list__item">
    <article class="archive__item">

      <h2 class="archive__item-title">
        {{ post.title }}
      </h2>

      {% if post.type or post.venue or post.date %}
        <p>
          {{ post.type }}
          {% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}
          {% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
        </p>
      {% endif %}

      <div class="archive__item-content">
        {{ post.content }}
      </div>

    </article>
  </div>

{% endfor %}
