---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>

  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  
  <style>
    body {
      background: url('/images/light_bg.png') no-repeat center center fixed;
      background-size: cover;
      color: ;
   }
    html[data-theme="dark"] body {
      background: url('/images/dark_bg.png') no-repeat center center fixed;
      background-size: cover;
      color: ; /* better for dark background */
   }
  </style>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

