/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--masthead-bg-color); //#6699cc;
  height: fit-content;
  top: 0;
  width: 100%;
  
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 10;
    height: 15px;
    background: #FF8C00; //var(--global-border-color); rgba(232, 74, 39, .8)  #6699cc
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 10px 1em;
    padding-left: 150px;
    background-color: var(--masthead-bg-color);
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    //display: flex; // ensure horizontal layout
    background-color: var(--masthead-bg-color); // match masthead
    //width: 100%; // take full width
  }
}

.masthead__menu-item {
  font-size: 1.2rem;         // or 16px, 18px, etc.
  color: #800080;             // not normal state, this is also hover color for some reason
  background-color: var(--masthead-bg-color); 
  display: none;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }

  a {
    color: #FF8C00 !important; // ensure link uses your desired color  #2f4f4f #333333 rgb(255, 204, 0)
    //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    //background-color: white !important;
    padding: 0;  // reduce space that might appear as background
    margin: 0;
  }

  a:hover {
    color: #ffa500 !important; // hover color, this does not function at all
    font-weight: bold; // or 700
    //background-color: var(--global-bg-color) !important;
  }
}
.masthead__menu-item:first-child {
  font-size: 2.1rem;  // or any size you want
  font-weight: 450;
  //color: blue;
  text-align: center;
  width: 100%;         // ensure it can span full width
  justify-content: center; // works if flex item 
  line-height: 1.5;
   
  a:hover {
    //font-weight: 550; //750;
    color: #ffa500 !important; // #001040 !important;
    //text-shadow: 1px 1px 2px rgba(250, 250, 250, .1);
    background-color: var(--masthead-bg-color) !important;
  }
}
