/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: #FF7F00; // linear-gradient(to right, #004080, var(--global-bg-color), #004080); //var(--global-bg-color);   //linear-gradient(to right, transparent 5%, #004080 50%, transparent 95%); 
  height: fit-content;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 10px;
    background: var(--global-border-color);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    background-color: #FF7F00; //linear-gradient(to right, #004080, var(--global-bg-color), #004080);
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  font-size: 1.2rem;         // or 16px, 18px, etc.
  color: #800080;             // not normal state, this is also hover color for some reason
  background-color: #FF7F00; //linear-gradient(to right, #004080, var(--global-bg-color), #004080); //transparent; //linear-gradient(to right, transparent 5%, #004080 50%, transparent 95%); // var(--global-bg-color);
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 0; //2em;
    font-weight: 700;
  }

  a {
    color: inherit; // ensure link uses your desired color
    background-color: #FF7F00;
    padding: 0;  // reduce space that might appear as background
    margin: 0;
  }

  a:hover {
    color: #004080; // hover color, this does not function at all
  }
}
.masthead__menu-item:first-child {
  font-size: 2rem;  // or any size you want
  color: #800080;
}
