/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: #6699cc;
  height: fit-content;
  top: 0;
  width: 100%;
  
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 20;
    height: 10px;
    background: var(--global-border-color);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #6699cc;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    //display: flex; // ensure horizontal layout
    background-color: #6699cc; // match masthead
    //width: 100%; // take full width
  }
}

.masthead__menu-item {
  font-size: 1.2rem;         // or 16px, 18px, etc.
  color: #800080;             // not normal state, this is also hover color for some reason
  background-color: #6699cc; 
  display: none;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }

  a {
    color: none; // ensure link uses your desired color
    background-color: none;
    padding: 0;  // reduce space that might appear as background
    margin: 0;
  }

  a:hover {
    color: #004080; // hover color, this does not function at all
    font-weight: bold; // or 700
  }
}
.masthead__menu-item:first-child {
  font-size: 2.5rem;  // or any size you want
  color: #800080;
   
  a:hover {
    font-weight: bold; // or 700
  }
}



